@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/variables";

@import "node_modules/bootstrap/scss/bootstrap";

// Fonts

* {
  font-family: "Rubik", sans-serif;
  color: #252627;
}

.secondary-font {
  font-family: "Playfair Display", serif;
}

// Font size variables

$custom-fs-0-5rem: 0.5rem;
$custom-fs-0-625rem: 0.625rem;
$custom-fs-0-75rem: 0.75rem;
$custom-fs-0-938rem: 0.938rem;
$custom-fs-0-875rem: 0.875rem;
$custom-fs-1-125rem: 1.125rem;
$custom-fs-1-25rem: 1.25rem;
$custom-fs-1-5rem: 1.5rem;
$custom-fs-1-563rem: 1.563rem;
$custom-fs-1-625rem: 1.625rem;
$custom-fs-2rem: 2rem;
$custom-fs-2-125rem: 2.125rem;
$custom-fs-2-375rem: 2.375rem;
$custom-fs-2-5rem: 2.5rem;
$custom-fs-3rem: 3rem;
$custom-fs-3-625rem: 3.625rem;
$custom-fs-4-rem: 4rem;

// Font classes

.fs-0-875rem {
  font-size: $custom-fs-0-875rem;
}

.fs-1-125rem {
  font-size: $custom-fs-1-125rem;
}

// Responsive font classes

.fs-0-5rem-to-0-625rem {
  font-size: $custom-fs-0-5rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-0-625rem;
  }
}

.fs-0-625rem-to-1rem {
  font-size: $custom-fs-0-625rem;

  @include media-breakpoint-up("md") {
    font-size: 1rem;
  }
}

.fs-0-75rem-to-1-125rem {
  font-size: $custom-fs-0-75rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-1-125rem;
  }
}

.fs-1rem-to-1-25rem {
  font-size: 1rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-1-25rem;
  }
}

.fs-1rem-to-1-5rem {
  font-size: 1rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-1-5rem;
  }
}

.fs-1-5rem-to-2rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-2rem;
  }
}

.fs-1-5rem-to-2-5rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-2-5rem;
  }
}

.fs-2rem-to-3rem {
  font-size: $custom-fs-2rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-3rem;
  }
}

// Image styling

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
  z-index: -1;
}

.hero-container {
  height: 100vh;
}

.hero-text-container {
  max-width: 540px;
}

// Colors

$dark-gray-color: #2e3543;
$secondary-gray-color: #484848;
$red-button-color: #b52935;

.bg-dark-gray-color {
  background-color: $dark-gray-color;
}

// Sticky footer

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

// Navigation

.navbar-toggler {
  border: none;
}

.upper-nav {
  height: 40px;
}

.upper-nav ul {
  list-style: none;
}

header {
  z-index: 1000;
}

.nav-link-styling {
  color: white;
  font-weight: 200;
  text-decoration: none;
}

.nav-link-styling:hover {
  font-weight: 400;
}

.fp-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #272727;
}

.fp-img-container:hover .fp-img-overlay {
  opacity: 0.9;
}

.fp-img-overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 55%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

// Buttons

.main-button-red {
  border-radius: 0;
  background-color: $red-button-color;
  color: white;
  border: none;
  padding: 5px 10px;
  font-weight: 200;
}

.main-button-red:hover {
  font-weight: 300;
  background-color: #871b25;
}

// Borders

.border-bottom-white {
  border-bottom: 0.2px solid rgb(255, 255, 255, 0.5);
}

// Forms - Searchform

.search-form {
  max-width: 400px;
  height: 325px;
  background-color: rgb(37, 38, 39, 0.6);
}

.search-form label {
  font-weight: 300;
  opacity: 0.8;
}

.search-form input {
  height: 40px;
  background: $secondary-gray-color;
  color: rgb(255, 255, 255, 0.7);
  border: none;
  text-indent: 10px;
  font-weight: 300;
  font-size: $custom-fs-0-875rem;
}

.search-form input::placeholder {
  color: white;
  font-weight: 300;
  opacity: 0.7;
}

// Utility classes

.cursor-pointer {
  cursor: pointer;
}

.dark-font {
  color: $dark-gray-color;
}

.link-hover:hover {
  font-weight: 800;
}

// Media queries

@media screen and (max-width: 767px) {
  .border-bottom-nav-dropdown {
    border-bottom: 0.2px solid rgb(255, 255, 255, 0.5);
  }
}

@media screen and (min-width: 768px) {
  .search-form {
    height: 375px;
  }
}

@media screen and (max-width: 992px) {
  .dropdown-active {
    position: absolute;
    background-color: $dark-gray-color;
    width: 100%;
    margin-top: 10px;
    padding: 50px 0;
  }
}

@media screen and (min-width: 992px) {
  .text-start-lg {
    text-align: start;
  }
  .search-form input {
    height: 45px;
  }
  .search-form {
    max-width: 530px;
  }
  .hero-container {
    margin-top: -125px;
  }
  @media screen and (min-width: 768px) {
    .search-form {
      height: 350px;
    }
  }
}
