@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/variables";

@import "node_modules/bootstrap/scss/bootstrap";

// Color variables

$dark-gray-color: #2e3543;
$secondary-gray-color: #484848;
$red-button-color: #b52935;
$gray-border-color: #484848;

// Fonts

.no-scroll {
  overflow: hidden;
}

* {
  font-family: "Rubik", sans-serif;
  color: $secondary-gray-color;
}

.font-gray {
  color: $secondary-gray-color;
}

.secondary-font {
  font-family: "Playfair Display", serif;
}

// Font size variables

$custom-fs-0-5rem: 0.5rem;
$custom-fs-0-625rem: 0.625rem;
$custom-fs-0-75rem: 0.75rem;
$custom-fs-0-938rem: 0.938rem;
$custom-fs-0-875rem: 0.875rem;
$custom-fs-1-125rem: 1.125rem;
$custom-fs-1-25rem: 1.25rem;
$custom-fs-1-5rem: 1.5rem;
$custom-fs-1-563rem: 1.563rem;
$custom-fs-1-625rem: 1.625rem;
$custom-fs-2rem: 2rem;
$custom-fs-2-125rem: 2.125rem;
$custom-fs-2-375rem: 2.375rem;
$custom-fs-2-5rem: 2.5rem;
$custom-fs-3rem: 3rem;
$custom-fs-3-625rem: 3.625rem;
$custom-fs-4-rem: 4rem;

// Font classes

.fs-0-875rem {
  font-size: $custom-fs-0-875rem;
}

.fs-1-125rem {
  font-size: $custom-fs-1-125rem;
}

// Responsive font classes

.fs-0-5rem-to-0-625rem {
  font-size: $custom-fs-0-5rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-0-625rem;
  }
}

.fs-0-625rem-to-0-875rem {
  font-size: $custom-fs-0-625rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-0-875rem;
  }
}

.fs-0-625rem-to-1rem {
  font-size: $custom-fs-0-625rem;

  @include media-breakpoint-up("md") {
    font-size: 1rem;
  }
}

.fs-0-75rem-to-0-875rem {
  font-size: $custom-fs-0-75rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-0-875rem;
  }
}

.fs-0-75rem-to-1rem {
  font-size: $custom-fs-0-75rem;

  @include media-breakpoint-up("md") {
    font-size: 1rem;
  }
}

.fs-0-75rem-to-1-125rem {
  font-size: $custom-fs-0-75rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-1-125rem;
  }
}

.fs-1rem-to-1-25rem {
  font-size: 1rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-1-25rem;
  }
}

.fs-1rem-to-1-5rem {
  font-size: 1rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-1-5rem;
  }
}

.fs-1rem-to-2rem {
  font-size: 1rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-2rem;
  }
}

.fs-1-25rem-to-1-5rem {
  font-size: $custom-fs-1-25rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-1-5rem;
  }
}

.fs-1-5rem-to-2rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-2rem;
  }
}

.fs-1-5rem-to-2-5rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-2-5rem;
  }
}

.fs-2rem-to-3rem {
  font-size: $custom-fs-2rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-3rem;
  }
}

// Image styling

.fp-tile-img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.banner-img {
  width: 100%;
  height: 950px;
  object-fit: cover;
  filter: brightness(30%);
  z-index: -1;
}

.hero-container {
  height: 950px;
  margin-top: -150px;
}

.hero-text-container {
  max-width: 540px;
}

.preview-tile-img {
  height: 200px;
  object-fit: cover;
}

.simple-linear {
  background: linear-gradient(blue, pink);
}

.star-container {
  bottom: 5%;
}

// Colors

.bg-dark-gray-color {
  background-color: $dark-gray-color;
}

// Sticky footer

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

// Navigation

.active {
  text-shadow: 0 0 1px white;
}

.navbar-toggler {
  border: none;
}

.upper-nav {
  height: 40px;
}

.upper-nav ul {
  list-style: none;
}

header {
  z-index: 1000;
}

header .active {
  font-weight: 400;
}

.nav-link-styling,
.nav-link-styling-no-hover {
  color: white;
  font-weight: 200;
  text-decoration: none;
}

.nav-link-styling:hover {
  text-shadow: 0 0 1px white, 0 0 1px white;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

// Buttons

.main-button-red {
  border-radius: 0;
  background-color: $red-button-color;
  color: white;
  border: none;
  padding: 5px 10px;
  font-weight: 200;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.main-button-red:hover {
  text-shadow: 0 0 1px white;
  background-color: #871b25;
}

.main-button-gray {
  border-radius: 0;
  background-color: $secondary-gray-color;
  color: white;
  border: none;
  padding: 5px 10px;
  font-weight: 200;
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.main-button-gray:hover {
  background-color: #5f5e5e;
  text-shadow: 0 0 1px white, 0 0 1px white;
}

.registration-button-gray {
  border: none;
  border-radius: 5px;
  height: 85px;
}

.reg-button-clicked {
  background: $secondary-gray-color;
  color: white;
}

// Borders

.border-bottom-white {
  border-bottom: 0.2px solid rgb(255, 255, 255, 0.5);
}

.custom-border-gray {
  border: 0.5px solid rgb(72, 72, 72, 0.2);
  border-radius: 5px;
}

.form-box-shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
}

.form-box-shadow-no-br {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.border-bottom-gray {
  border-bottom: 0.5px solid rgb(72, 72, 72, 0.2);
}
// Forms - Search-form

.search-form {
  max-width: 425px;
  max-height: 700px;
  background-color: rgb(37, 38, 39, 0.9);
}

.search-form-main {
  background-color: rgb(37, 38, 39, 0.9);
}

.search-form-main label,
.search-form label {
  font-weight: 300;
  opacity: 0.8;
}

.search-form-main input,
.search-form input {
  height: 40px;
  background: $secondary-gray-color;
  border: none;
  text-indent: 10px;
  font-weight: 300;
}

.search-form-main input::placeholder,
.search-form input::placeholder {
  color: white;
  font-weight: 300;
  opacity: 0.7;
}

.date-search-input {
  text-indent: 0;
  color: white;
}

// Form - Date picker

.date-search-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

// Form - Create venue

.form-check input {
  height: 24px;
  width: 24px;
  border: 1px solid rgb(72, 72, 72, 0.2);
  background: #f6f6f6;
}

.form-check-input:checked {
  background-color: $secondary-gray-color;
}

// Frontpage

.fp-img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #272727;
  opacity: 0.9;
}

.fp-img-overlay-text {
  color: white;
  position: absolute;
  top: 60%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

// Filtering

.filter-button {
  width: 100px;
}

.filter-icon {
  height: 32px;
}

.venue-filtering input {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

// Venues page

.facility-icon {
  height: 20px;
  width: 20px;
}

// Venue page

.calendar,
.form-venue-container,
.booking-sum-container {
  max-width: 350px;
}

// Booking confirmation

.booking-success-container {
  max-height: 150px;
}

.booking-success-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

// Profile

.avatar-image {
  border-radius: 50%;
  border: 0.5px solid rgb(72, 72, 72, 0.2);
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.profile-bookings-selector:hover,
.profile-bookings-selector-active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.profile-booking-container img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.profile-booking-container {
  max-height: 120px;
}

// Utility classes

.cursor-pointer {
  cursor: pointer;
}

.link-hover:hover {
  font-weight: 800;
}

.text-ident-5px {
  text-indent: 5px;
}

.form-input-bg {
  background: #f6f6f6;
}

.mt-125px {
  margin-top: 125px;
}

.border-radius-start-5px {
  border-radius: 5px 0 0 5px;
}
.link-hover:hover {
  font-weight: 500;
}

// Media queries

@media screen and (max-width: 767px) {
  .border-bottom-nav-dropdown {
    border-bottom: 0.2px solid rgb(255, 255, 255, 0.5);
  }
  .venue-image-and-text-container,
  .bookings-buttons-container {
    max-width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .fp-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #272727;
  }

  .fp-tile-img {
    height: 200px;
  }

  .fp-img-container:hover .fp-img-overlay {
    opacity: 0.9;
  }

  .fp-img-overlay-text {
    color: white;
    position: absolute;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .booking-success-container {
    max-height: 300px;
  }

  .booking-success-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .profile-booking-container img {
    width: 100%;
    height: 190px;
    object-fit: cover;
  }

  .profile-booking-container {
    max-height: 190px;
  }
}

@media screen and (max-width: 992px) {
  .dropdown-active {
    position: absolute;
    background-color: $dark-gray-color;
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    padding: 50px 0;
    overflow-y: hidden;
  }
  .preview-tile-img {
    width: 130px;
  }
}

@media screen and (min-width: 992px) {
  .text-start-lg {
    text-align: start;
  }
  .search-form input {
    height: 45px;
  }
  .search-form {
    max-width: 530px;
  }
  .registration-button-gray {
    height: 105px;
  }
  .main-button-gray,
  .main-button-red {
    padding: 8px 15px;
    font-weight: 400;
  }
  .main-button-red:hover,
  .main-button-gray:hover {
    text-shadow: 0 0 1px white, 0 0 1px white;
  }
  .preview-tile-img {
    width: 200px;
  }
  .right-border {
    border-right: 0.5px solid rgb(72, 72, 72, 0.2);
  }

  .text-ellipsis-on-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 350px;
  }
}
